<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div> -->

<div class="row marketing">
  <h3>Add a URL</h3>
  <p>
    <form action="/websites" method="post">
      <input type="url" name="url" required />
      <input class="btn btn-sm btn-primary" type="submit" value="Submit"></input>
    </form>
  </p>

  <h2>Blog Faster</h2>
  <h3>It's as easy as 1,2,3.</h3>
  <ol>
    <li>Add a link to something you may want to reference in a blog post.</li>
    <li>Sort and find links you have saved.</li>
    <li>Generate html tags or markdown formatted links to the sites you want to reference.</li>
  </ol>
</div>

<div class="footer">
  <p>♥ & &copy; Lindsey Smith</p>
</div>
